<div class="container">
  <div class="row">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>議題</th>
          <th>人數</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @issues.each do |issue| %>

        <tr>
          <td><%= link_to issue.title, issue %></td>
          <td><%= issue.votes.count %></td>
          <td><%= link_to '支持', new_vote_path %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to '建立議題', new_issue_path %>
  </div>
</div>
