<p id="notice"><%= notice %></p>

<p>
  <strong>議題名稱:</strong>
  <%= @issue.title %>
</p>

<p>
  <strong>說明:</strong>
  <%= @issue.description %>
</p>

<div class="row">
  <div class="col-md-12">支持此議題的民代</div>

</div>

<%#= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to '回議題列表', issues_path %>
