<div class="col-xs-2 text-center user-img">
  <%= image_tag(agent.fb_image, :class => "w100p")%>
  <p><%= render_user_name_link(agent) %></p>
  <% same_issues = agent.like_issues.select{ |i| @user_issues.map(&:id).include?(i.id)} %>
  <div class = "user-name">共同關注議題: <%= same_issues.size %></div>
</div>
