development:
  adapter: postgresql
  username: 
  password:
  database: solveissues_development

production:
  adapter: postgresql
  username: 
  password:
  encoding: 
  database: solveissues_production
