@import "bootstrap-sprockets";
@import "bootstrap";


.form-width {
  width: auto;
}

.spacing {
  height:15px;
}

li {
  list-style-type: none;
}

.thumb {

}













// sky
.user-img{
  min-height: 150px;
}
.user-name{
  min-height: 30px;
}
.sky-header{
  background-color:#FFF5D5;
  text-align: center;
}
.container{
  padding: 10px 200px;
}
.text-center{
  text-align: center;
}
.w100p{
  width: 100%;
}
.issue-description-box{
  background-color: #ddd;
  min-height: 300px;
}
