@import "bootstrap-sprockets";
@import "bootstrap";


.form-width {
  width: auto;
}
<<<<<<< HEAD
.spacing {
  height:15px;
}

li {
  list-style-type: none;
}
=======












// sky
.text-center{
  text-align: center;
}
.w100p{
  width: 100%;
}
.issue-description-box{
  background-color: #ddd;
  min-height: 300px;
}
>>>>>>> b4f7665bba236b9f6044cf55c6c6f9be098a060d
