@import "bootstrap-sprockets";
@import "bootstrap";


.form-width {
  width: auto;
}

.spacing {
  height:15px;
}

li {
  list-style-type: none;
}

.thumb {
  
}













// sky
.text-center{
  text-align: center;
}
.w100p{
  width: 100%;
}
.issue-description-box{
  background-color: #ddd;
  min-height: 300px;
}
