@import "bootstrap-sprockets";
@import "bootstrap";
@import "chartist.scss";
@import "select2";
@import "select2-bootstrap";


.form-width {
  width: auto;
}

.spacing {
  height:15px;
}

li {
  list-style-type: none;
}

.thumb {

}













// sky
.flipy{
  transform: rotateY(180deg);
}
.user-img{
  min-height: 150px;
}
.user-name{
  min-height: 30px;
}
.sky-header{
  background-color:#FFF5D5;
  text-align: center;
}
.container{
  padding: 10px 200px;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.position-right-botton{
  position: relative;
  bottom: 0px;
  right: 0px;
}
.w100p{
  width: 100%;
  height: 80px;
}
.issue-description-box{
  padding:20px 50px;
  background-color: #eee;
  min-height: 300px;
}
