// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#tag-cloud {
  width: 100%;
  height: 350px;
}

.owner-tag{
  background-color: red;
  color: white;
  padding: 0 5px 0 5px;
  border-radius: 10px;
}

.owner-tag-name{
  padding: 0 5px 0 5px;
}
#issue-logo img{
  width: 100%;
}
