<!DOCTYPE html>
<html>
<head>
  <title>Solveissues</title>
  <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
